body {
  background: wheat;
}

#body-wrapper {
  

}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  visibility: hidden;
}

#close {
  border-radius: 10px;
}